.tasty__treat-desc {
    color: #777;
    line-height: 28px;
}

.tasty__treat-title span {
    color: #df2020;
}

.choose__us-title {
    font-weight: 600;
    margin-bottom: 10px;
}

.choose__us-title i {
    font-weight: 500 !important;
    color: #df2020;
}

.choose__us-desc {
    color: #777;
}

@media screen and (max-width: 768px) {
    .tasty__treat-desc {
        font-size: 0.8rem;
        margin-bottom: 0;
    }
    .choose__us-title {
        font-size: 0.8rem;
    }
    .choose__us-desc {
        font-size: 0.7rem;
    }
}

@media screen and (max-width: 576px) {
    .why__choose-us {
        padding-top: 0 !important;
    }
}
