.testimonial__subtitle {
    color: #df2020;
}

.testimonial__title span {
    color: #df2020;
}

.testimonial__desc {
    color: #777;
    line-height: 30px;
}

@media screen and (max-width: 768px) {
    .testimonial__subtitle {
        font-size: 1rem;
    }
    .testimonial__desc {
        font-size: 0.8rem;
    }
}
